<div class="container2">
<img id="image" src="/rome.png" width="193" height="300">
<br>
<label id ="label22" class="ml-4 my-2">Rome</label>
<br>
<button onclick="location.href = '/rome';" id="rome" class="btn btn-secondary ml-3"> View </button>
</div>